<a class="btn btn-primary" asp-controller="Movie" asp-action="Add">Thêm phim</a>
<a class="btn btn-primary" asp-controller="Movie" asp-action="GenreIndex">Các thể loại</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>twitter</td>
        </tr>
    </tbody>
</table>