@using Movie.Models.ViewModels
@model AddRoomViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Tên phòng</label>
        <input asp-for="Name" class="form-control" placeholder="Nhập tên phòng">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity">Sức chứa</label>
        <input asp-for="Capacity" class="form-control" placeholder="Nhập sức chứa">
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
</form>