@model IEnumerable<Room>

<a class="btn btn-primary" asp-controller="Room" asp-action="Add">Thêm phòng</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Tên phòng</th>
            <th scope="col">Sức chứa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.Id">@item.Name</a>
                </th>
                <td>@item.Capacity</td>
            </tr>
        }
    </tbody>
</table>